<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Capstone Project v4</title>
  <link rel="stylesheet" href="styles/style.css">

    <div class="navbar">
      <ul class="menu-items">
        <li class="nav-item"><a href="/">Quotation</a></li>
        <li class="nav-item"><a href="/meme">Mem</a></li>
      </ul>
    </div>
</head>
